.inner-container{
    gap: 1.5rem;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(179.83deg, #A85D2C 0.15%, #CEA289 99.85%);
}

.inner-container .primaryText{
    color: white;
    font-weight: 600;
}

.inner-container .secondaryText{
    color: rgba(255, 255, 255, 0.587);
}

.inner-container .button {
    background: #D9D9D9;
    border-radius: 25px;
    color: #CB7B4E;
}